.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 100vh; /* Viewport Height */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .my-picture {
    width: 350px;
    height: 350px;
    border-radius: 50%; /* Making the image circular */
    object-fit: cover;
  }
  
  .about-me-text {
    margin-top: 20px;
    width: 50%;
    text-align: center;
  }
  
  .about-me-text h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .about-me-text p {
    font-size: 1em;
    margin: 0;
  }