.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative; /* Added for shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Shadow for the container */
}

.picture-container img {
    max-width: 90vw;
    max-height: 90vh;
    border: 2px solid white;
    padding: 2px; /* Padding around the image */
    /*transition: transform 0.3s; Smooth transition for zoom effect */
}

.picture-container:hover img {
    transform: scale(1); /* Zoom in the image on hover */
}
